<div class="list-container">
  <app-table
    *ngIf="watchlistStockDetails.length > 0"
    [tableData]="watchlistStockDetails"
    [columnHeaders]="headers"
    [rowsPerPage]="5"
    [inHomeView]="false"
    (isListUpdatedChange)="refreshWatchlists()"
  ></app-table>
  <!-- <div
    class="no-watchlist"
    *ngIf="
      watchlistStockDetails.length <= 0 &&
      selectedWatchlistName !== 'Choose a watchlist'
    "
  >
    This watchlist has no entries Add?
  </div> -->
  <app-spinner *ngIf="isLoading"></app-spinner>
</div>
