.no-selection {
  font-weight: bold;
  text-align: center;
}

.no-watchlist {
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 35%;
  padding: 10px;
  border: none;
  background-color: var(--subtle-bg-color);
  border-radius: 10px;
  font-weight: 800;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  appearance: none;
}
.search-bar::placeholder {
  color: #b7b7b7;
}

.table-container {
  height: 500px;
  max-height: 500px;
  overflow: auto;
  margin-top: 15px;
  padding: 0px 20px;
}

.main-list {
  width: 100%;
  border-collapse: collapse;
  max-height: 500px;
}

th {
  text-align: right;
  padding: 15px;
}

td {
  text-align: right;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #b7b7b7;
}

.symbol-label {
  text-align: left;
}
.symbol {
  text-align: left;
  font-size: 16px;
  color: black;
}

.headers {
  position: sticky;
  top: 0;
  font-size: 14px;
  color: #b7b7b7;
  background-color: white;
  box-shadow: inset 0 -1px 0 rgb(219, 219, 219);
}

.data-row {
  border-bottom: 1px solid rgb(219, 219, 219);
}

.data-row:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.positive-change {
  color: #14dd1c;
  font-weight: bold;
  background: #e2ffe3;
  border-radius: 15px;
  padding: 5px;
}

.negative-change {
  color: #ff3333;
  font-weight: bold;
  background: #ffe6e6;
  border-radius: 15px;
  padding: 5px 10px;
}

.empty-search-container {
  margin-top: 100px;
}

.empty-search {
  text-align: center;
  font-weight: bold;
}
