<div class="about">
  <div class="about-info-container">
    <div class="about-app-info">
      <span class="label">About the app: </span>This web application sets out to
      provide users with a simple viewing of particular top stocks in the
      market. Users should be able to view detailed information about the stock,
      and see prices changes every so often, as well as save stocks they are
      interested in, to a wishlist. Users also will have access to a live news
      feed of stories coming from
      <a href="https://www.benzinga.com/" target="_blank">Benzinga</a>. This
      outlet provides news stories on financial/trading topics.
    </div>
    <div class="disclaimer">
      Please note that this is a demo webapp utilizing free apis. Prices will
      not update as frequent as normal brokerage sites, and refreshing/loading
      pages too quickly can cause the api usage limit to be exceeded, resulting
      in empty data.
    </div>
    <div class="about-empty"></div>
  </div>
</div>
