<div class="sidebar-container">
  <div class="sidebar">
    <div class="header">Filter Stocks</div>
    <div class="radio-group">
      <div>
        <input
          type="radio"
          id="tradesimChoice"
          value="tradesimChoice"
          name="tableChoices"
          checked="checked"
          (change)="updateSelectedFilter('tradesimChoice')"
        />
        <label for="tradesimChoice">TradeSim's Choices</label>
      </div>
      <!-- <div>
        <input
          type="radio"
          id="topMovers"
          value="topMovers"
          name="tableChoices"
          (change)="updateSelectedFilter('topMovers')"
        />
        <label for="topMovers">Top Movers</label>
      </div> -->
      <div>
        <input
          type="radio"
          id="mostActive"
          value="mostActive"
          name="tableChoices"
          (change)="updateSelectedFilter('mostActive')"
        />
        <label for="mostActive">Most Active</label>
      </div>
    </div>
  </div>
</div>
