/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;

  // background-color: #efefef;/* clears the ‘X’ from Internet Explorer */
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar */
  }

  /* Scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f7f7f7; /* Color of the track */
    border-radius: 10px; /* Rounding the corners */
  }

  /* Scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #c4c4c4; /* Color of the scrollbar */
    border-radius: 10px; /* Rounding the corners */
  }

  /* Scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #929292; /* Color when hovering */
  }
}

body {
  background-color: #efefef;
}
