<nav>
  <ul>
    <li><label class="logo">TradeSim</label></li>
    <li class="nav-link"><a routerLink="/home">Home</a></li>
    <li class="nav-link"><a routerLink="/watchlist">Watchlist</a></li>
    <li class="nav-link"><a routerLink="/news">News</a></li>
    <li class="nav-link"><a routerLink="/about">About</a></li>
    <li class="nav-link"><a routerLink="/contact">Contact</a></li>
    <li class="profile-button">
      <a routerLink="/login"
        ><img src="assets/profileIcon.png" class="profile-icon"
      /></a>
    </li>
    <li class="search-bar"><input type="text" placeholder="Search..." /></li>
  </ul>
</nav>
<hr class="separator" />

<router-outlet />
