<div class="nav-wrapper" [class.active]="menuActive">
  <div class="logo">
    <img class="logo-image" src="../../../../assets/logo.png" /><span
      class="logo-text"
      >TradeSim</span
    >
  </div>
  <ul class="nav-list">
    <li class="nav-link expand" (click)="toggleMenu()">
      <div class="link">
        <img class="icon" src="../../../../assets/expandIcon.png" />
      </div>
    </li>

    <li #home routerLink="/home" class="nav-link" (click)="setSelection(home)">
      <div class="link">
        <img class="icon" src="../../../../assets/homeIcon.png" /><span
          class="link-text"
          >Home</span
        >
      </div>
    </li>
    <li
      #watchlists
      routerLink="/watchlists"
      class="nav-link"
      (click)="setSelection(watchlists)"
    >
      <div class="link">
        <img class="icon" src="../../../../assets/watchlistIcon.png" /><span
          class="link-text"
          >Watchlists</span
        >
      </div>
    </li>
    <li #news routerLink="/news" class="nav-link" (click)="setSelection(news)">
      <div class="link">
        <img class="icon" src="../../../../assets/newsIcon.png" /><span
          class="link-text"
          >In The News</span
        >
      </div>
    </li>
    <li
      #profile
      routerLink="/profile"
      class="nav-link"
      (click)="setSelection(profile)"
    >
      <div class="link">
        <img class="icon" src="../../../../assets/profileIcon.png" /><span
          class="link-text"
          >Profile</span
        >
      </div>
    </li>
  </ul>
</div>
