.spinner-container {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.wrapper {
  margin-top: 2%;
  display: flex;

  justify-content: center;
}

.news-articles-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  // height: 80%;
}

.article-container {
  background-size: cover;
  width: 500px;
  // height: fit-content;
  padding: 15px;

  img {
    display: block;
    // width: 300px;
    // height: 225px;
    width: 100%;
    // height: 400px;
  }
}

.article-image {
  // width: 100%;
  border-radius: 10px;
  min-width: 100px;
}

.article-headline {
  font-size: 14px;
  // width: 100%;
}

a {
  color: black;
  font-weight: bold;
}
.separator {
  margin: 2%;
}

// @media (max-width: 768px) {
//   .article-headline {
//     display: none;
//   }
// }
