.watchlist-button {
  font-size: 24px;
  width: 25px;
  padding: 5px;
}

.watchlist-button:hover {
  color: red;
  cursor: pointer;
}

.logout-button {
  width: 25px;
  padding: 5px;
}

.logout-button:hover {
  color: red;
  cursor: pointer;
}
