.welcome-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-button {
  color: #4c3ce0;
  cursor: pointer;
}

.date {
  margin-top: 10px;
}

.balance {
  background-color: #f4ddff;
  padding: 10px;
  padding-right: 30px;
  border-radius: 15px;
  color: #bc2dff;
  font-size: 20px;
  font-weight: bold;
}

.balance-label {
  font-size: 28px;
}
