<div class="news-container">
  <div class="spinner-container" *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>

  <div class="article-list-container" *ngIf="!isLoading">
    <div class="article-list-card">
      <app-card>
        <div *ngIf="!isLoading" class="article-list">
          <div
            *ngFor="let article of newsArticles?.news"
            class="article-container"
          >
            <a [href]="article.url" target="_blank" class="article-link">
              <img
                *ngIf="article.images[0]?.url.length > 0"
                class="article-image"
                [src]="article.images[0]?.url"
              />
              <img
                *ngIf="article.images[0]?.url.length <= 0"
                class="article-image"
                src="assets/breakingNews.jpg"
              />
              <div class="article-headline">{{ article.headline }}</div>
            </a>
          </div>
        </div></app-card
      >
    </div>
  </div>
</div>
