<div class="title-and-search">
  <h1 class="title">Prices</h1>
  <input class="search-bar" type="search" placeholder="Search" />
</div>
<div class="table-container">
  <table class="main-list">
    <thead>
      <tr class="headers">
        <th class="watchlist-label"></th>
        <th class="symbol-label">Name</th>
        <th>Price</th>
        <th>% 24hr</th>
        <th>$ 24hr</th>
        <th>Open</th>
        <th>Market Cap</th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-row" *ngFor="let data of tableData">
        <td class="watchlist">★</td>
        <td class="symbol" (click)="navigateToStockDetails(data.symbol)">
          {{ data.symbol }}
        </td>
        <td class="price" (click)="navigateToStockDetails(data.symbol)">
          ${{ data.price.toFixed(2) }}
        </td>
        <td
          class="percent-change"
          (click)="navigateToStockDetails(data.symbol)"
        >
          <span
            [ngClass]="{
              'negative-change': data.percentChange.toString().includes('-'),
              'positive-change': !data.percentChange.toString().includes('-')
            }"
            >{{ data.percentChange.toFixed(2) }}%</span
          >
        </td>
        <td class="dollar-change" (click)="navigateToStockDetails(data.symbol)">
          <span
            [ngClass]="{
              'negative-change': data.change.toString().includes('-'),
              'positive-change': !data.change.toString().includes('-')
            }"
            >{{ formatDollarChange(data.change.toFixed(2)) }}</span
          >
        </td>
        <td class="open" (click)="navigateToStockDetails(data.symbol)">
          ${{ data.open.toFixed(2) }}
        </td>
        <td class="market-cap" (click)="navigateToStockDetails(data.symbol)">
          $1,234,567,890.12
        </td>
      </tr>
    </tbody>
  </table>
</div>
