<div class="background">
  <div class="dialog">
    <div *ngIf="inHomeView">
      <div *ngIf="!loggedIn">
        <h1>
          Please <a routerLink="/login">login</a> to add <br />to your
          watchlists
        </h1>
      </div>
      <div *ngIf="loggedIn">
        <h1>Add {{ selectedSymbol }} to...</h1>
        <div *ngFor="let watchlist of watchlists">
          <div
            class="watchlist"
            (click)="addToWatchlist(watchlist.watchlistid)"
          >
            {{ watchlist.name }}
          </div>
        </div>
        <div class="new-watchlist">
          Create a new watchlist using {{ selectedSymbol }}
        </div>
        <div class="watchlist-name-submit">
          <input
            class="info-input"
            type="text"
            placeholder="Enter watchlist name..."
            #newWatchlistName
          />
          <button (click)="createWatchlist(newWatchlistName.value)">
            Create
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!inHomeView">
      <div>
        <h1>{{ selectedWatchlist.name }}</h1>
        <hr />
        <div class="remove-from-watchlist" (click)="removeFromWatchlist()">
          Remove {{ selectedSymbol }} from {{ selectedWatchlist.name }}
        </div>
        <div class="delete-watchlist" (click)="deleteWatchlist()">
          Delete {{ selectedWatchlist.name }}
        </div>
      </div>
    </div>
    <hr class="bottom-separator" />

    <button (click)="closeModal()">Close</button>
  </div>
</div>
