@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.google.com/?query=proxima+nova");
@import url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  //   Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--c-font-weight-700);
  font-size: var(--c-font-size-600);
  background-color: #efefef;
  --subtle-bg-color: #f7f7f7;
}

.app-wrapper {
  display: flex;
  height: 100vh;
  // gap: 30px;
}

.main-content {
  width: 100%;
}

//could make this only apply if the size of the window hits a certain height
// .footer {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   font-size: 16px;
//   z-index: 9999;
// }
