.contact {
  font-size: 18px;
  height: 50vh;
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  padding: 3%;
}

.disclaimer {
  padding-top: 25px;
  font-style: italic;
}

.label {
  font-size: 20px;
  font-weight: bold;
}
