<div class="contact">
  <div class="contact-info-container">
    <div class="contact-app-info">
      <div><span class="label">Creator: </span>Davis Knight</div>
      <div><span class="label">Email: </span>davisknight7&commat;gmail.com</div>
      <div><span class="label">Phone Number: </span>(317) 775-8889</div>
      <div>
        <span class="label">LinkedIn: </span
        ><a href="https://www.linkedin.com/in/davisknight1/" target="_blank"
          >linkedin.com/in/davisknight1/</a
        >
      </div>
    </div>
    <div class="disclaimer">
      <span class="label">About The Creator: </span>
      My name is Davis Knight and I am 21 years old. I have a BS in Computer
      Science from Ball State University in Muncie, Indiana as of May 2024. I
      have a strong interest in programming and finance, which is why I created
      this demo webapp with a focus on stocks.
    </div>
    <div class="about-empty"></div>
  </div>
</div>
