.wrapper {
  margin: 2%;
  //   display: flex;
  //   justify-content: center;
  // width: 5%;
  //   height: fit-content;
}

.container {
  box-shadow: #d8d8d8 0px 4px 24px;
  border-radius: 10px;
  min-width: fit-content;
  width: 25%;

  overflow: hidden;
}

.info-container {
  padding: 20px;
}

.symbol {
  font-size: 14px;
}

.price-percentage {
  display: flex;
  align-items: center;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.percent {
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}

.separator {
  margin-top: 10px;
}

.general-info-list {
  list-style-type: none;

  li {
    padding-top: 8px;

    .list-label {
      font-weight: bold;
    }
  }
}
