<div class="wrapper">
  <div class="container">
    <div class="key-info-container">
      <!-- info placeholder text is based on alpha company overview response -->
      <h2 class="stock-name">
        {{ companyOverview?.name }}
        <span class="symbol">{{ companyOverview?.symbol }}</span>
      </h2>
      <span class="price-percentage"
        ><div class="price">$00.00</div>
        <div class="percent">1.0%</div></span
      >
      <hr class="separator" />
      <div class="general-info-container">
        <ul class="general-info-list">
          <li><span class="list-label">Currency: </span>USD</li>
          <li><span class="list-label">Exchange: </span>NYSE</li>
          <li>
            <span class="list-label">Address: </span>1 NEW ORCHARD ROAD, ARMONK,
            NY, US
          </li>
          <li><span class="list-label">Market Cap: </span>$180323746000</li>
          <li><span class="list-label">Dividend Yield: </span>0.0338</li>
          <li><span class="list-label">52-Week High: </span>$199.18</li>
          <li><span class="list-label">52-Week High: </span>$116.36</li>
        </ul>
      </div>
    </div>
  </div>
</div>
