<div class="wrapper">
  <div class="container">
    <div class="header-info-container">
      <h2 class="stock-name">Financial Information</h2>
      <hr class="separator" />
      <div class="financial-info-container">
        <table class="info-table">
          <tbody>
            <tr>
              <td>
                <div class="label">Previous Close:</div>
                <div>${{ stockData?.previousClose }}</div>
              </td>
              <td>
                <div class="label">Market Capitalization:</div>
                <div>${{ stockData?.marketCap.toLocaleString("en-US") }}</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="label">Volume:</div>
                <div>{{ stockData?.volume.toLocaleString("en-US") }}</div>
              </td>
              <td>
                <div class="label">Day Open:</div>
                <div>${{ stockData?.open.toFixed(2) }}</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="label">Day High:</div>
                <div>${{ stockData?.dayHigh.toFixed(2) }}</div>
              </td>
              <td>
                <div class="label">Day Low:</div>
                <div>${{ stockData?.dayLow.toFixed(2) }}</div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="label">Year High:</div>
                <div>${{ stockData?.yearHigh.toFixed(2) }}</div>
              </td>
              <td>
                <div class="label">Year Low:</div>
                <div>${{ stockData?.yearLow.toFixed(2) }}</div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="label">Year Target Estimation:</div>
                <div>${{ stockData?.yearTargetEstimate.toFixed(2) }}</div>
              </td>
              <td>
                <div class="label">Dividend Yield:</div>
                <div *ngIf="stockData?.forwardAnnualDividendYield === 0">
                  No Dividend
                </div>
                <div *ngIf="stockData?.forwardAnnualDividendYield !== 0">
                  {{ stockData?.forwardAnnualDividendYield.toFixed(2) }}
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="label">Dividend Amount:</div>
                <div *ngIf="stockData?.forwardDividend === 0">No Dividend</div>
                <div *ngIf="stockData?.forwardDividend !== 0">
                  ${{ stockData?.forwardDividend.toFixed(2) }}
                </div>
              </td>
              <td>
                <div class="label">Dividend Payout Date:</div>
                <div *ngIf="formatDate(stockData?.exDividendDate) !== '1/1/1'">
                  {{ formatDate(stockData?.exDividendDate) }}
                </div>
                <div *ngIf="formatDate(stockData?.exDividendDate) === '1/1/1'">
                  No Dividend
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="label">Earnings Per Share:</div>
                <div>${{ stockData?.earningsPerShare.toFixed(2) }}</div>
              </td>
              <td>
                <div class="label">Earnings Report Date:</div>
                <div>{{ formatDate(stockData?.earningsDate) }}</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="label">Price-Earnings Ratio:</div>
                <div>{{ stockData?.priceEarningsRatio }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
