.info-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;

  li {
    .list-label {
      font-weight: bold;
      color: #b7b7b7;
    }
  }
}

.financial-info-container {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 15px;
}

.separator {
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .info-list {
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .info-list {
    gap: 15px;
  }
  li {
    font-size: 14px;
  }
}
