<div *ngIf="!loggedIn" class="container">
  <div *ngIf="alreadyHasAccount" class="login-card">
    <div class="spinner-container" *ngIf="isLoggingIn">
      <app-spinner></app-spinner>
    </div>
    <app-card *ngIf="!isLoggingIn">
      <div class="login-wrapper">
        <h1 class="header">Welcome</h1>
        <input
          class="info-input"
          type="text"
          (keydown)="onKeydown($event)"
          placeholder="Username..."
          id="loginUsernameInput"
          #loginUsernameInput
        />
        <div class="info-input">
          <input
            class="password-input"
            [type]="passwordType"
            (keydown)="onKeydown($event)"
            placeholder="Password..."
            id="loginPasswordInput"
            #loginPasswordInput
          />
          <div
            class="toggle-password-visibility-button"
            (click)="togglePasswordVisibility()"
          >
            {{ buttonLabel }}
          </div>
        </div>

        <div
          class="login-button"
          (click)="login(loginUsernameInput.value, loginPasswordInput.value)"
        >
          Login
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="signup-text">
          Don't have an account?
          <span class="signup-button" (click)="toggleSignup()"
            >Create One!</span
          >
        </div>
      </div></app-card
    >
  </div>

  <div *ngIf="!alreadyHasAccount" class="login-card">
    <app-card
      ><div class="spinner-container" *ngIf="isLoggingIn">
        <app-spinner></app-spinner>
      </div>
      <div class="signup-wrapper" *ngIf="!isLoggingIn">
        <h1 class="header">Create Account</h1>
        <input
          class="info-input"
          type="text"
          (keydown)="onKeydown($event)"
          placeholder="Username..."
          #signupUsernameInput
          id="signupUsernameInput"
        />
        <div class="info-input">
          <input
            class="password-input"
            [type]="passwordType"
            (keydown)="onKeydown($event)"
            placeholder="Password..."
            #signupPasswordInput
            id="signupPasswordInput"
          />
          <div
            class="toggle-password-visibility-button"
            (click)="togglePasswordVisibility()"
          >
            {{ buttonLabel }}
          </div>
        </div>

        <div class="info-input">
          <input
            class="password-input"
            [type]="passwordType"
            (keydown)="onKeydown($event)"
            placeholder="Confirm Password..."
            #signupConfirmedPasswordInput
            id="signupConfirmedPasswordInput"
          />
          <div
            class="toggle-password-visibility-button"
            (click)="togglePasswordVisibility()"
          >
            {{ buttonLabel }}
          </div>
        </div>

        <div
          class="login-button"
          (click)="
            signup(
              signupUsernameInput.value,
              signupPasswordInput.value,
              signupConfirmedPasswordInput.value
            )
          "
        >
          Create Account
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="signup-text">
          Already have an account?
          <button class="signup-button" (click)="toggleLogin()">Login</button>
        </div>
      </div>
    </app-card>
  </div>
</div>
