.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  min-width: 300px;
  max-width: 400px;
}

.spinner-container {
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.info-input {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  border-radius: 10px;
  border-style: hidden;
  background-color: var(--subtle-bg-color);
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.info-input:focus {
  outline: none !important;
}

.password-input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-style: hidden;
  background-color: var(--subtle-bg-color);
  font-weight: bold;
  font-size: 16px;
}

.password-input:focus {
  outline: none !important;
}

.toggle-password-visibility-button {
  flex: auto;
  background-color: transparent;
  border: none;
  color: #bc2dff;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

.login-button {
  padding: 10px 10px;
  background-color: #f4ddff;
  color: #bc2dff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 45px;
}

.login-button:hover {
  background-color: #f8e9ff;
}

.signup-text {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.signup-button {
  background-color: transparent;
  border: none;
  color: #bc2dff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
}

@media (max-width: 900px) {
  .container {
    margin-top: 200px;
  }
}
