.wrapper {
  width: 100%;
}

.container {
  box-shadow: #d8d8d8 0px 4px 24px;
  border-radius: 10px;
  min-width: fit-content;
  width: 100%;
  overflow: hidden;
  padding-bottom: 75%;
}

.key-info-container {
  padding: 20px;
}

.logo {
  width: 30px;
  height: 30px;
}

.symbol {
  font-size: 14px;
}

.price-percentage {
  display: flex;
  align-items: center;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.percent {
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}

.positive-change {
  color: green;
}

.negative-change {
  color: red;
}

.separator {
  margin-top: 10px;
}

.general-info-list {
  list-style-type: none;

  li {
    padding-top: 8px;

    .list-label {
      font-weight: bold;
    }
  }
}
