.general-info-list {
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
  padding-top: 15px;
  gap: 20px;

  li {
    margin-bottom: 20px;
    .list-label {
      color: #b7b7b7;
    }
  }
}

@media (max-width: 1000px) {
  .info-list {
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  li {
    font-size: 14px;
  }
}
