.login-disclaimer {
  margin: auto;
  font-size: 24px;
}

.total-value {
  font-weight: bold;
}

.highest-performer {
  font-weight: bold;
}

.lowest-performer {
  font-weight: bold;
}

.label {
  color: #b7b7b7;
}
