.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

.watchlist-dropdown {
  margin-top: 10px;
  font-size: 18px;
  padding: 3px;
  width: 50%;
}

.watchlist-list {
  width: 100%;
  margin: 25px;
}

a {
  color: #1e1e1e;
  transition: 0.5s;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4c3ce0;
}
