.container {
  // display: flex;
  // justify-content: center;
  // min-height: 50vh;
  // padding-top: 10vh;
}

.wrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  width: 75%;
  margin: 30px;
}

.watchlist-dropdown-card {
  width: 75%;
  margin: 30px;
}

.watchlist-dropdown {
  // margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  border-radius: 10px;
  font-family: inherit;
  font-weight: bold;
  color: #b9b9b9;
  border-right: 16px solid transparent;
}

.watchlist-dropdown:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.watchlist-dropdown:focus {
  outline: none;
}

.watchlist-list {
  // width: 100%;
  margin: 25px;
}
.option {
  background-color: white;
  font-weight: bold;
  color: rgb(87, 87, 87);
}

.no-watchlists {
  margin-top: 25px;
}

.watchlist-list-card {
  width: 75%;
  margin: 30px;
}

a {
  color: #1e1e1e;
  transition: 0.5s;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4c3ce0;
}

.login-text {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
