<div>
  <div *ngIf="loggedIn && !isRefreshing">
    <div class="watchlist-dropdown-card">
      <app-card
        ><select
          #watchlists
          [(ngModel)]="selectedWatchlistName"
          class="watchlist-dropdown"
          (change)="switchList(watchlists.value)"
        >
          <option default class="option">Choose a watchlist</option>
          <option
            *ngFor="let watchlist of userWatchlists"
            class="option"
            [value]="watchlist.name"
          >
            {{ watchlist.name }}
          </option>
        </select></app-card
      >
    </div>
  </div>

  <div *ngIf="loggedIn && !isRefreshing" class="wrapper">
    <app-card>
      <div
        class="no-watchlists"
        *ngIf="
          userWatchlists.length <= 0 &&
          selectedWatchlistName === 'Choose a watchlist'
        "
      >
        It seems you have no watchlists...
        <div class="add-button" routerLink="/home">Add?</div>
      </div>

      <app-list
        *ngIf="userWatchlists.length > 0"
        class="watchlist-list"
        [isDefaultSelected]="isDefaultSelected"
        [selectedWatchlist]="selectedWatchlist"
        [tradesimsChoices]="tradesimsChoices"
        [selectedWatchlistName]="selectedWatchlistName"
        (refreshListChange)="refresh()"
      ></app-list>
    </app-card>
  </div>

  <div *ngIf="!loggedIn" class="wrapper">
    <div class="login-text">
      Please <a routerLink="/login">login</a> to see your watchlists!
    </div>
  </div>
</div>
