.trade-header {
  font-size: 36px;
}

.shares-input {
  box-sizing: border-box;
  padding: 10px;
  border: none;
  background-color: var(--subtle-bg-color);
  border-radius: 15px;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  appearance: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.shares-input::placeholder {
  color: #b7b7b7;
}

.label {
  color: #b7b7b7;
  font-weight: bold;
}

.your-balance {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.shares-value {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.transaction-value {
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 15px;
}

.buy-button {
  width: 45%;
  font-family: inherit;
  padding: 10px 10px;
  background-color: #efceff;
  color: #bc2dff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #f5dfff;
}

.sell-button {
  width: 45%;
  font-family: inherit;
  padding: 10px 10px;
  background-color: #ffd4d4;
  color: #ff3636;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.sell-button:hover {
  cursor: pointer;
  background-color: #ffe1e1;
}

.confirmation-message {
  font-weight: bold;
  color: #b7b7b7;
}
.completed-message {
  font-weight: bold;
  margin-bottom: 15px;
}

.strong {
  color: black;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
