.logout-button {
  padding: 10px 40px;
  background-color: #f4ddff;
  color: #bc2dff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.logout-button:hover {
  background-color: #f8e9ff;
}
