.main-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
  height: fit-content;
  // margin: 25px;
}

.header {
  padding: 20px;
}

.main-list-container {
  // box-shadow: #d8d8d8 0px 4px 24px;
  // border-radius: 10px;
  // width: fit-content;
  width: 100%;
}

table {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // width: 100%;
  // width: 100vw - 1vw;
  border-collapse: collapse;
  // border: 1px solid #ddd;
  font-size: 14px;
  // margin: 50px;
  margin-top: 0px;
  // overflow: hidden;
  // padding: 25px;
  // overflow-x: scroll;
}

th,
td {
  height: 2.5em;
  padding: 24px;
  text-align: left;

  //   border-bottom: 1px solid #ddd;
}

th {
  font-size: 20px;
}

td {
  font-size: 16px;
}

thead tr {
  // height: 10px;
  border-bottom: 2px solid #c0c0c0;
}

tr {
  // height: 120px;
  background-color: #ffffff;
}

/* Hover Effect */
tbody tr:hover {
  background-color: #f5f5f5;
}

.data-row:hover {
  cursor: pointer;
}

/* Striped Rows */
tr:nth-child(even) {
  background-color: #fafafa;
}

/* Border Radius */
table {
  border-radius: 6px;
  // overflow: hidden;
}

.stock-name {
  // background-color: red;
  // position: sticky;
  // left: 65px;
  // z-index: 99;
  // width: 70px;
  margin-left: 50px;
  font-weight: bold;
  font-style: italic;
}

.positive-change {
  color: rgb(0, 167, 0);
  font-weight: bold;
}

.negative-change {
  color: red;
  font-weight: bold;
}

.pagination {
  margin: 15px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #4c3ce0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #6858ff;
}

.watchlist-button-container {
  background-color: inherit;

  // width: 50px;
}
.watchlist-button {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #4c3ce0;
  border-radius: 3px;
  cursor: pointer;
}

.watchlist-button:hover {
  background-color: #6858ff;
}

.plus-icon {
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
}

.app-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Adjust the z-index to make sure it appears above other elements */
}

// .separator {
//   display: block;
//   margin-top: 0.5em;
//   margin-bottom: 0.5em;
//   margin-left: 1vw;
//   margin-right: 1vw;
//   border-style: solid;
//   border-color: rgb(223, 223, 223);
// }

/* Responsive Table */
@media (max-width: 1100px) {
  th {
    font-size: 18px;
  }

  th,
  td {
    padding: 15px;
  }
}

@media (max-width: 900px) {
  th,
  td {
    padding: 13px;
    height: 2em;

    // font-size: 13px;
  }
}

@media (max-width: 770px) {
  th {
    font-size: 16px;
  }

  th,
  td {
    padding: 12px;
    // font-size: 12px;
  }
}

@media (max-width: 730px) {
  .daily-high {
    display: none;
  }
  .daily-high-header {
    display: none;
  }

  .daily-low {
    display: none;
  }
  .daily-low-header {
    display: none;
  }
}

@media (max-width: 650px) {
  td {
    font-size: 14px;
  }

  th {
    // font-size: 16px;
  }

  th,
  td {
    padding: 11px;
  }
}

@media (max-width: 520px) {
  .open-price {
    display: none;
  }
  .open-price-header {
    display: none;
  }

  .previous-close {
    display: none;
  }
  .previous-close-header {
    display: none;
  }
}

@media (max-width: 350px) {
  th,
  td {
    font-size: 13px;
  }
}
