<div class="main-list-wrapper">
  <div class="main-list-container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of columnHeaders">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="data-row"
          *ngFor="let data of displayedData"
          (click)="navigateToDetails(data.symbol)"
        >
          <td class="stock-name">{{ data.symbol }}</td>
          <td class="stock-price">${{ data.price }}</td>
          <td
            class="stock-change"
            [ngClass]="{
              'negative-change': data.change.toString().includes('-'),
              'positive-change': !data.change.toString().includes('-')
            }"
          >
            ${{ data.change.toFixed(2) }}
          </td>
          <td
            class="stock-percent-change"
            [ngClass]="{
              'negative-change': data.percentChange.toString().includes('-'),
              'positive-change': !data.percentChange.toString().includes('-')
            }"
          >
            {{ data.percentChange.toFixed(2) }}%
          </td>
          <td>${{ data.high.toFixed(2) }}</td>
          <td>${{ data.low.toFixed(2) }}</td>
          <td>${{ data.open.toFixed(2) }}</td>
          <td>${{ data.close.toFixed(2) }}</td>
        </tr>

        <!-- The below commented block of code would make the table take in generic data types -->
        <!-- <tr *ngFor="let row of displayedData; let i = index">
      <td *ngFor="let item of row | keyvalue : keepOrder">{{ item.value }}</td>
    </tr> -->
      </tbody>
    </table>
    <!-- <hr class="separator" /> -->

    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Previous
      </button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
</div>
