<!-- <div class="main-list-wrapper"> -->
<div class="main-list-container">
  <table>
    <thead>
      <tr>
        <th *ngIf="inHomeView">Add</th>
        <!-- <th *ngFor="let header of columnHeaders">{{ header }}</th> -->
        <th class="name-header">Name</th>
        <th class="current-price-header">Current Price</th>
        <th class="change-header">% Change</th>
        <th class="percent-change-header">Change</th>
        <th class="daily-high-header">Daily High</th>
        <th class="daily-low-header">Daily Low</th>
        <th class="open-price-header">Open Price</th>
        <th class="previous-close-header">Previous Close</th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-row" *ngFor="let data of displayedData">
        <td *ngIf="inHomeView" class="watchlist-button-container">
          <div class="watchlist-button" (click)="addToWatchList(data.symbol)">
            +
          </div>
        </td>
        <td class="stock-name" (click)="handleClick(data.symbol)">
          {{ data.symbol }}
        </td>
        <td class="stock-price" (click)="handleClick(data.symbol)">
          ${{ data.price.toFixed(2) }}
        </td>

        <td
          class="stock-percent-change"
          [ngClass]="{
            'negative-change': data.percentChange.toString().includes('-'),
            'positive-change': !data.percentChange.toString().includes('-')
          }"
          (click)="handleClick(data.symbol)"
        >
          {{ data.percentChange.toFixed(2) }}%
        </td>
        <td
          class="stock-change"
          [ngClass]="{
            'negative-change': data.change.toString().includes('-'),
            'positive-change': !data.change.toString().includes('-')
          }"
          (click)="handleClick(data.symbol)"
        >
          ${{ data.change.toFixed(2) }}
        </td>
        <td (click)="handleClick(data.symbol)" class="daily-high">
          ${{ data.high.toFixed(2) }}
        </td>
        <td (click)="handleClick(data.symbol)" class="daily-low">
          ${{ data.low.toFixed(2) }}
        </td>
        <td (click)="handleClick(data.symbol)" class="open-price">
          ${{ data.open.toFixed(2) }}
        </td>
        <td (click)="handleClick(data.symbol)" class="previous-close">
          ${{ data.close.toFixed(2) }}
        </td>
      </tr>

      <!-- The below commented block of code would make the table take in generic data types -->
      <!-- <tr *ngFor="let row of displayedData; let i = index">
      <td *ngFor="let item of row | keyvalue : keepOrder">{{ item.value }}</td>
    </tr> -->
    </tbody>
  </table>
  <!-- <hr class="separator" /> -->

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</div>
<!-- </div> -->
<app-modal
  [(isModalOpen)]="isModalShown"
  (isModalOpenChange)="closeModalAndRefresh()"
  [inHomeView]="inHomeView"
  [selectedSymbol]="selectedSymbol"
  class="app-modal"
  *ngIf="isModalShown"
></app-modal>
