<!-- <h1>Personal Details</h1>
<div class="username data-row">
  <div class="label">Username</div>
  <div class="data">test2532</div>
</div>
<div class="first-name data-row">
  <div class="label">First Name</div>
  <div class="data">Test</div>
</div>
<div class="last-name data-row">
  <div class="label">Last Name</div>
  <div class="data">Testsss</div>
</div>
<div class="phone data-row">
  <div class="label">Phone Number</div>
  <div class="data">Teststststs</div>
</div>

<div class="email data-row">
  <div class="label">Email</div>
  <div class="data">Test</div>
</div> -->

<h1>Personal Details</h1>

<table>
  <tbody>
    <tr class="data-row">
      <td class="label cell">Username</td>
      <td class="data cell">test2532</td>
    </tr>
    <tr class="data-row">
      <td class="label cell">First</td>
      <td class="data cell">Test</td>
    </tr>
    <tr class="data-row">
      <td class="label cell">Last</td>
      <td class="data cell">Tester</td>
    </tr>
    <tr class="data-row">
      <td class="label cell">Phone Number</td>
      <td class="data cell">1231231231</td>
    </tr>
    <tr class="data-row">
      <td class="label cell">Email</td>
      <td class="data cell">test2532&#64;aol.com</td>
    </tr>
  </tbody>
</table>
