.spinner-container {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.tab-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
}
app-sidebar {
  width: fit-content;
  margin-bottom: 2%;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: overlay;
  // padding: 50px;

  app-table {
    // width: 100%;
  }
}
