<div *ngIf="!isLoading">
  <app-news-card></app-news-card>

  <!-- <div class="sidebar-and-tables"> -->
  <div class="table">
    <h1 class="header">Current Prices</h1>
    <app-sidebar></app-sidebar>

    <app-table
      *ngIf="tableFilterService.selectedStockList === 'tradesimChoice'"
      [tableData]="stockDetails"
      [columnHeaders]="tableColumnHeaders"
      [rowsPerPage]="5"
      [inHomeView]="true"
    ></app-table>
    <!-- <app-table
      *ngIf="tableFilterService.selectedStockList === 'topMovers'"
      [tableData]="topMovers"
      [columnHeaders]="tableColumnHeaders"
      [rowsPerPage]="5"
    ></app-table> -->
    <app-table
      *ngIf="tableFilterService.selectedStockList === 'mostActive'"
      [tableData]="mostActive"
      [columnHeaders]="tableColumnHeaders"
      [rowsPerPage]="5"
      [inHomeView]="true"
    ></app-table>
  </div>
  <!-- </div> -->
</div>
