<div *ngIf="isLoading" class="spinner-container">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading" class="home-wrapper">
  <div class="welcome-and-list">
    <div class="welcome-card">
      <app-card
        ><app-welcome
          [balance]="balance"
          [loggedIn]="loggedIn"
          [username]="username"
        ></app-welcome
      ></app-card>
    </div>
    <div class="main-list-card">
      <app-card
        ><app-main-list
          [tableData]="stockDetails"
          [tradesimsChoices]="tradesimsChoices"
        ></app-main-list
      ></app-card>
    </div>
  </div>

  <div class="assets-and-overview">
    <div class="overview-card">
      <app-card
        ><app-portfolio-overview
          [loggedIn]="loggedIn"
          [totalPortfolioValue]="totalPortfolioValue"
          [profitLossDifference]="profitLossDifference"
          [highestPerformer]="highestPerformer"
          [lowestPerformer]="lowestPerformer"
        ></app-portfolio-overview
      ></app-card>
    </div>
    <div class="assets-card">
      <app-card
        ><app-current-assets
          [loggedIn]="loggedIn"
          [assets]="ownedAssets"
        ></app-current-assets
      ></app-card>
    </div>
  </div>
</div>
