<div class="footer">
  <div class="container">
    <div class="row">
      <div class="column">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cookie preferences</a></li>
          <li><a href="#">Cookie policy</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>

      <div class="column">
        <h4>Support</h4>
        <ul>
          <li>Email: support&commat;TradeSim.com</li>
          <li>Phone: +8142821899</li>
          <li>Address: 123 Apple Ave, Buffalo, NY 14218</li>
        </ul>
      </div>
      <div class="column">
        <h4>Socials</h4>
        <ul>
          <li><a href="#">X &lpar;Twitter&rpar;</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Telegram</a></li>
          <li><a href="#">Reddit</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-section">
      <p class="text-center">© 2024 TradeSim. All rights reserved.</p>
    </div>
  </div>
</div>
