.cards {
  // display: flex;
  font-size: 20px;
  margin: 25px;
  // justify-content: center;
  // gap: 2%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cards-wrapper {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 50px;
  // flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.first-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-width: 0;
}

.second-column {
  display: flex;

  flex-direction: column;
  gap: 50px;
  min-width: 0;
}

.general-info-card {
  // this will adjust width of the card, but then creates a weird overlapping of cards when resizing window
  //width: 25%;
}

.financial-info-card {
}

.chart-card {
  min-width: 200px;
  max-width: 1200px;
}

.description-card {
  min-width: 200px;
  max-width: 1200px;
}
