.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

.chart-and-trade {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.chart-card-wrapper {
  flex-grow: 1;
  width: 30%;
  margin: 30px;
}

.trade-card-wrapper {
  min-width: 250px;
  width: 25%;
  margin: 30px;
  height: fit-content;
}

.general-info-and-financial-info {
  display: flex;
  margin-bottom: 20px;
}

.general-info-card-wrapper {
  margin: 30px;
}

.financial-info-card-wrapper {
  margin: 30px;
}

.description {
  display: flex;
}

.description-card-wrapper {
  margin: 30px;
}

@media (max-width: 1100px) {
  .chart-and-trade {
    flex-direction: column;
  }

  .chart-card-wrapper {
    width: auto;
  }

  .trade-card-wrapper {
    width: auto;
  }

  .general-info-and-financial-info {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .spinner-container {
    margin-top: 90px;
  }
  .cards {
    margin: 0;
    margin-top: 90px;
  }
}

@media (max-width: 744px) {
  .chart-card-wrapper {
    margin: 15px;
  }
  .trade-card-wrapper {
    margin: 15px;
  }
  .general-info-card-wrapper {
    margin: 15px;
  }
  .financial-info-card-wrapper {
    margin: 15px;
  }
  .description-card-wrapper {
    margin: 15px;
  }
}
