<div class="cards">
  <div *ngIf="isLoading" class="spinner-container">
    <app-spinner></app-spinner>
  </div>
  <!-- <app-card
    ><app-general-info-card
      *ngIf="!isLoading"
      class="general-info-card"
      [stockQuote]="chosenStock"
      [stockData]="stockData"
      [companyProfile]="companyProfile"
    ></app-general-info-card
  ></app-card> -->

  <!-- <div class="chard-and-trade">
    <div class="chart-card-wrapper">
      <app-card
        ><app-chart-card
          class="chart-card"
          *ngIf="!isLoading"
          [historicalBars]="formattedHistoricalBars"
          [stockQuote]="chosenStock"
          [stockData]="stockData"
          [logo]="companyProfile?.logo"
        ></app-chart-card
      ></app-card>
    </div>

    <div class="trade-card-wrapper">
      <app-card><app-trade></app-trade></app-card>
    </div>
  </div> -->

  <div class="chart-and">
    <div class="chart-card-wrapper">
      <app-card
        ><app-chart-card
          class="chart-card"
          *ngIf="!isLoading"
          [historicalBars]="formattedHistoricalBars"
          [stockQuote]="chosenStock"
          [stockData]="stockData"
          [logo]="companyProfile?.logo"
        ></app-chart-card
      ></app-card>
    </div>
  </div>

  <div class="trade-and">
    <div class="trade-card-wrapper">
      <app-card
        ><app-trade [stockQuote]="chosenStock" [balance]="balance"></app-trade
      ></app-card>
    </div>
  </div>

  <div class="inf-and">
    <div class="info-card-wrapper">
      <app-card
        ><app-general-info-card
          *ngIf="!isLoading"
          class="general-info-card"
          [stockQuote]="chosenStock"
          [stockData]="stockData"
          [companyProfile]="companyProfile"
        ></app-general-info-card
      ></app-card>
    </div>
  </div>
  <!-- 
  <div class="cards-wrapper">
    <app-general-info-card
      *ngIf="!isLoading"
      class="general-info-card"
      [stockQuote]="chosenStock"
      [stockData]="stockData"
      [companyProfile]="companyProfile"
    ></app-general-info-card>

    <app-financial-info-card
      *ngIf="!isLoading"
      class="financial-info-card"
      [stockData]="stockData"
    ></app-financial-info-card>
    <app-description-card
      class="description-card"
      *ngIf="!isLoading"
      [companyDescription]="companyDescription"
      [companyName]="stockData.shortName"
    ></app-description-card>
  </div> -->
</div>
